<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Hello, Flask</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='site.css')}}" />
    </head>
    <body>
        <h1>This is the website for [Our Application]</h1>
        <p> Welcome to our application. Here you can find various tools and features to help you with your needs.</p>
        <p>Explore the different sections of our application through the links below:</p>
        <ol>
            <li><a href="#">Link to Feature One</a></li>
            <li><a href="#">Link to Feature Two</a></li>
        </ol>
    </body>
</html>